body, html {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice-container {
  background-color: hsl(217, 19%, 24%);
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 4rem;
  border-radius: 15px;
  position: relative;
}

#getId {
    color: hsl(150, 100%, 66%);
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
}

.getAdvice {
    font-size: 1.75rem;
    color: hsl(193, 38%, 86%);
    text-align: center;
}

.divider {
    margin-bottom: 2rem;
}

.divider-mobile {
    display: none;
}

.dice-icon {
    height: 4rem;
    width: 4rem;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    cursor: pointer;
}
.dice-icon:hover {
    box-shadow: 0px 0px 20px hsl(150, 100%, 66%);
    transition: all 0.3s ease-in;
}

@media(max-width: 650px) {
    .divider {
        display: none;
    }
    .divider-mobile {
        display: block;
        margin-bottom: 2.5rem;
    }
    .advice-container {
        max-width: 20rem;
        padding: 1rem 1rem;
    }
}




